body {
    font-family: Arial, sans-serif;

}

nav {
    widows: 100%;
    height: 60px;
    background: #344051;
}
.logo {
    color:#fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 380px;
    float: left;
}
.menu {
    float: left;
    padding-left: 430px;
}
.menu li {
    float: left;
    color: #fff;
    line-height: 60px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 100%;
    background: url("../img/I_am_big.png") center top no-repeat, url("../img/bg.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 2px 0px black;
}
.title {
    float: left;
    margin: 425px 0px 0px 405px;
    color: #2c384a;
    text-align: center;
    
}
.title h1 {
    font-size: 60px;
    font-weight: bold;
    
}
.title h4 {
    margin-top: 35px;
    font-size: 20px;
    color: #79818d;
    font-weight: 100px
}

.title input{
    height: 40px;
    text-align: center;
    color: #79818d;
    border: 1.5px solid #6d7682;
    border-radius: 3px;
    font-size: 13px;
    background: none;
    margin: 40px 8px 0px 8px;
    padding: 0px 13px;
}


.about_me h2 {
    text-align: center;
}

.I_am_png {
   border-radius: 100%;
}